/*Thomas Sack*/
@media screen {
* {box-sizing: border-box;}
header
    {background-color: black;
        border: 3px outset black;
        text-align: left;
        font-family: 'Courier New', Courier, monospace ;
        color: white;
        padding: 10px;
    }
.headerReplacement
    {text-indent: -9999px;
        height: 80px;
        background: url(../images/logo.png) black no-repeat;  
        background-size: 300px;
    }
body
    {font-family: 'Courier New', Courier, monospace ;
    }
#container{
    position: relative;
}
nav
    {font-weight: bold;
        position: absolute;
        width: 200px;
        height: 100%;
        text-align: left;
        background-color: gray;
        border: 3px outset #000000;
        padding: 1em;
    }
nav a
    {text-decoration: none;
        display: block;
        background-color: white;
        border: 3px outset #000000;
        padding: 1em;
        margin-bottom: 1em;
    }
nav a:link {color: black;}
nav a:visited {color: #808080;}
nav a:hover {color: #C0C0C0; border: 3px inset #333333;}
nav ul
    {list-style-type: none;
        padding-left: 0px;
    }
/*Background image obtained from https://www.toptal.com/designers/subtlepatterns/notebook/*/
main
    {background-image: url(../images/sitebackground.png);
        background-color: darkgray;
        border: 3px outset black;
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100%;
        margin-left: 0px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
#borderdec
    {border: 10px dashed black;
    }
.headermain
    {text-align:center;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        color: #FFFFFF;
        background-color: #000000;
        width: auto;
        border: 2px solid gray;
        border-radius: 15px;
    }
.pbox
    {width: 600px;
        padding: 5px;
        margin-bottom: 5px;
        border-top: 10px double black;
        border-bottom: 10px double black;
    }
.customvid
    {border: none;
        width: 100%;
        height: 100%;  
    }
.note
    {font-size: 7pt;
        font-family: 'Courier New', Courier, monospace ;
    }
a:link
    {text-decoration: none;
        color: slategray;
        font-weight: bold;
    }
a:visited
    {text-decoration: none;
        color: lightslategray;
        font-weight: bold;
    }
a:hover
    {text-decoration: none;
        color: darkslategray;
        font-weight: bold;
    }
div.gallery
    {margin: 5px;
        float: left;
        position: relative;
        width: 180px;
    }
div.gallery img 
    {width: 100%;
        height: auto;
        max-width: 100%;
    }
    
div.gallery img:hover 
    {opacity: 0.5;
    }       
div.desc 
    {padding: 15px;
        text-align: center;
    }
img.left
    {float: left;
        padding-top:10px;
        padding-right:10px;
        border-radius: 25px;
        max-width: 100%;
    }
table
    {width: 80%;
        color: white;
        border-width: 1px;
        border-style: solid;
        background-color: gray;
        border-color: dimgray;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin: auto;
    }
td,th
    {padding: 5px;
        border: 1px solid gray;
    }
.th
    {font-weight:bold;
        text-align: center;
    }
tr:nth-of-type(odd) 
    {background-color: #000000;
    }
caption
    {margin: 1em;
        color: black;
        font-weight: bold;
        font-size: 120%;
    }
input
    {display: block; 
        margin-bottom: .5em;
    }
textarea
    {display: block; 
        margin-bottom: .5em;
    }
input[type="submit"] 
    {margin-left: 12em;
        background-color: black;
        color: white;
    }
form
    {display: flex;
        flex-direction: column;
        font-weight: bold;
        padding-left: 1em;
        width: 80%;
    }
footer
    {background-color: black;
        border: 3px outset black;
        text-align: center;
        font-family: 'Courier New', Courier, monospace ;
        color: white;
    }
@media (max-width: 1024px)
    {nav
        {width: auto;
            height: auto;
            position: relative;
        }
    nav a
        {width: 100px;
            height: 60px;
            border: 1px outset #000000;
            margin-right:10px;
        }
    nav ul
        {display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 14px;
            text-align: left;
        }
    main
        {height: 100%; 
        }
    }
@media (max-width: 600px)
    {nav
        {float: none;
            width: auto;
            height: auto;
        }
    nav a
        {width: 80px;
            height: 50px;
            border: 1px outset #000000;
            margin-right:10px;
        }
    nav ul
        {display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 11px;
            text-align: left;
        }
    main
        {padding-left: 50px;
            padding-right: 50px;
            height: 100%;
        }
    div.gallery
    {margin: 5px;
        padding-left: 150px;
        width: 180px;
    }
    div.gallery img 
    {width: 40px;
        height: 60px;
    }
    div.desc 
    {display: none;
    }
    .pbox
        {width:350px;  
        }
    }
}
@media print {
    header, nav, nav a, nav ul, footer 
    {display: none;
    }
    img.left
    {float: left;
        padding-top:10px;
        padding-right:10px;
    }
    table
    {width: 80%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin: auto;
    }
    td,th
    {padding: 5px;
        border: 1px solid black;
        page-break-inside: avoid;
    }
    a:link
    {text-decoration: none;
        color: gray;
        font-weight: bold;
    }
    a:visited
    {text-decoration: none;
        color: darkgray;
        font-weight: bold;
    }
        div.gallery
    {margin: 5px;
        padding-left: 150px;
        width: 180px;
    }
    div.gallery img 
    {width: 250px;
        height: 300px;
    }
    input
    {display: block; 
        margin-bottom: .5em;
    }
    textarea
        {display: block; 
            margin-bottom: .5em;
        }
    input[type="submit"] 
        {margin-left: 12em;
            background-color: white;
            color: black;
        }
    form
        {display: flex;
            flex-direction: column;
            font-weight: bold;
            padding-left: 1em;
            width: 80%;
        }
}